{% comment %}Adding Featured product (e.g, Rakhi, etc) on PDP page based on TAG. 07-07-2025
{% endcomment %}

 {% assign collection_handle = product.metafields.custom.collection_name.value %}

{% if collections[collection_handle].products.size!=0 %}
    <div class="product__accordion accordion quick-add-hidden">
    <details id="Details-card-section-{{ section.id }}" open>
      <summary>
        <div class="summary__title">
          <h2 class="h4 accordion__title">Add-On Product</h2>
        </div>
        {% render 'icon-caret' %}
      </summary>

      <div class="accordion__content rte" id="ProductAccordion-card-section-{{ section.id }}">
  <div class="gift_card_wrapper" >
    <h4>Add Product : <span class="show_prod_name"></span><span class="show_prod_price"></span></h4>
    <div class="gift_products_wrap addon_products_wrap">    
      {% assign sorted_card_products = collections[collection_handle].products %}
      {% for product in sorted_card_products %}
              <div class="gift_product">
                <input
                  type="checkbox"
                  class="product_checkbox"
                  name="product_id"
                  {% for variant in product.variants %}
                    value="{{ variant.id }}"
                  {% endfor %}
                >
                <img src="{{ product.featured_media.preview_image | img_url:'100x100' }}">
                <input type="hidden" value="{{ product.title }}" class="pd_name">
            <input type="hidden" value="{{ product.variants[0].price }}" class="pd_price">
                
                <div class="tooltip_product_info">
                  {% if product.images.size > 1 %}
                    <img src="{{ product.images[1] | img_url:'master' }}">
                  {% else %}
                    <img src="{{ product.featured_media.preview_image | img_url:'master' }}">
                  {% endif %}
                </div>
              </div>
      {% endfor %}
    </div>
  </div>
      </div>
    </details>
    </div>
{% endif %}
<style>
    .addon_products_wrap{
    max-height:216px;
  }
</style>