{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

<script src="{{ 'cart.aio.min.js' | asset_url }}" defer="defer"></script>

<style>
    .drawer {
      visibility: hidden;
    }

      	.hide_bundle_id_product{
     content-visibility: hidden !important;
    display:none !important;
  }
  .hide_multi_Product_div{
    display:none !important;
  }
  .cart_property_product_title{
      width: 100%;
      display: block;
      pointer-events: none;
      text-decoration: none;
  }
  /* cart css by NR */

  .collection_product_wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      max-width: 100%;
      overflow-x: scroll;
      column-gap: 5px;
    margin-bottom: 12px;
  }

  .product_card_wrapper {
      display: block;
      padding: 0 12px;
      margin-bottom: 12px;
      padding-left:0;
  }

  .product_card_wrapp {
      width: 200px;
      display: flex;
      justify-content: flex-start;
      column-gap: 5px;
  }

  .card_title_wrapper a {
      font-size: 12.25px;
      /* height:48px; */
  }

  .card_price_wrapper .product-option {
      font-size: 12.25px;
      font-weight:600;
  }

  .btn.bundle_add_to_cart_btn {
      border-radius: 12px;
      min-height: 28px;
      background-color: var(--color_black);
      color: #fff;
      border: 1px solid var(--color_black);
      transition: all 0.3s ease-in-out;
      font-weight: 400;
      font-size: 12.25px;
      width: 60%;
      cursor: pointer;
  }
    .btn.bundle_add_to_cart_btn:hover {
      border: 1px solid var(--color_black);
      color: var(--color_black);
      background-color: #fff;
    }

  .cart-item__image.cutom_image {
      height: 55px;
      width: 80px;
      object-fit: contain;
  }
    .btn.bundle_add_to_cart_btn .custom_spinner {
      display: none;
    }
    .btn.bundle_add_to_cart_btn .custom_spinner {
      display: none;
      justify-content: center;
      left: 0%;
      position: absolute;
      background: rgb(255 255 255 / 70%);
      width: 100%;
      height: 100%;
      bottom: 0;
      top: 0;
      right: 0;
      padding: 10px;
      border-radius: 12px;
  }
    .btn.bundle_add_to_cart_btn .custom_spinner svg{
      width: 18px;
      position: absolute;
      top: 5px;
      left: 42%;
      transform: translate(-50%, -50%);
  }
  /*  cart css by NR */
</style>
{% render 'product_reset_popup' %}

<div id="CartDrawer_MainContent">
  <div>
    <cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
      <div id="CartDrawer" class="cart-drawer">
        <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
        <div
          class="drawer__inner"
          role="dialog"
          aria-modal="true"
          aria-label="{{ 'sections.cart.title' | t }}"
          tabindex="-1"
        >
          {%- if cart == empty -%}
            <div class="drawer__inner-empty">
              <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
                <div class="cart-drawer__empty-content">
                  <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
                  <button
                    class="drawer__close"
                    type="button"
                    onclick="this.closest('cart-drawer').close()"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {% render 'icon-close' %}
                  </button>
                  <a href="/collections/curated-hampers" class="button">
                    {{ 'general.continue_shopping' | t }}
                  </a>

                  {%- if shop.customer_accounts_enabled and customer == null -%}
                    <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
                    <p class="cart__login-paragraph">
                      {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                    </p>
                  {%- endif -%}
                </div>
              </div>
              {%- if settings.cart_drawer_collection != blank -%}
                <div class="cart-drawer__collection">
                  {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
          <div class="drawer__header">
            <h2 class="drawer__heading">{{ 'sections.cart.title' | t }}</h2>
            <button
              class="drawer__close"
              type="button"
              onclick="this.closest('cart-drawer').close()"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              {% render 'icon-close' %}
            </button>
          </div>
          <cart-drawer-items
            {% if cart == empty %}
              class=" is-empty"
            {% endif %}
          >
            <form
              action="{{ routes.cart_url }}"
              id="CartDrawer-Form"
              class="cart__contents cart-drawer__form"
              method="post"
            >
              <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
                {%- if cart != empty -%}
                  <div class="drawer__cart-items-wrapper">
                    <table class="cart-items" role="table">
                      <thead role="rowgroup">
                        <tr role="row">
                          <th id="CartDrawer-ColumnProductImage" role="columnheader">
                            <span class="visually-hidden">{{ 'sections.cart.headings.image' | t }}</span>
                          </th>
                          <th
                            id="CartDrawer-ColumnProduct"
                            class="caption-with-letter-spacing"
                            scope="col"
                            role="columnheader"
                          >
                            {{ 'sections.cart.headings.product' | t }}
                          </th>
                          <th
                            id="CartDrawer-ColumnTotal"
                            class="right caption-with-letter-spacing"
                            scope="col"
                            role="columnheader"
                          >
                            {{ 'sections.cart.headings.total' | t }}
                          </th>
                          <th id="CartDrawer-ColumnQuantity" role="columnheader">
                            <span class="visually-hidden">{{ 'sections.cart.headings.quantity' | t }}</span>
                          </th>
                        </tr>
                      </thead>

                      <tbody role="rowgroup">
                        <!-- [custom code] -->

                        <tr class="cart-item multi_product_outer BYOHCartBundle hide_multi_Product_div" id="CartItem-0">
                          <td class="cart-item__media">
                            <a href="#" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                            <div class="cart-item__image-container gradient global-media-settings">
                              <img
                                src="https://cdn.shopify.com/s/files/1/0689/3014/2515/files/18909Assorted_560x_d30e342d-07c2-445b-b952-36b109921f9d.jpg?v=1679995986"
                                class="cart-item__image"
                                alt=""
                                loading="lazy"
                                width="150"
                                height="150"
                                data-cart-bundle-image
                              >
                            </div>
                          </td>

                          <td class="cart-item__details">
                            <a
                              href="/pages/hamper-collections?bundle_id=1015"
                              class="cart-item__name h4"
                              id="bundle_prod_title"
                            >
                              Custom Hamper
                            </a>
                            <div class="cart-item__price-wrapper">
                              {% assign total_custom_price = 0 %}
                              {% for item in cart.items %}
                                {% for p in item.properties %}
                                  {% if p.first == 'bundle_id' %}
                                    {% assign custom_price = item.final_line_price %}
                                    {% assign total_custom_price = total_custom_price | plus: custom_price %}
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                              <span class="price price_custom" data-custom-price="{{ total_custom_price | money }}">
                                {{ total_custom_price | money }}
                              </span>
                            </div>
                            {%- for item in cart.items -%}
                              {% for p in item.properties %}
                                {% if p.first == 'bundle_id' %}
                                  <a
                                    href="#"
                                    class="product-option break cart_property_product_title"
                                    data-product-id="{{ item.variant.id }}"
                                    data-cart-prod-bundle-id="{{ p.last }}"
                                    data-cart-prod-bundle-name="{{ item.properties['bundle_name'] }}"
                                  >
                                    {{ item.product.title | escape }}
                                  </a>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          </td>

                          <td class="cart-item__totals right medium-hide large-up-hide">
                            <div class="loading-overlay hidden">
                              <div class="loading-overlay__spinner">
                                <svg
                                  aria-hidden="true"
                                  focusable="false"
                                  class="spinner"
                                  viewBox="0 0 66 66"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                              </div>
                            </div>
                            <div class="cart-item__price-wrapper">
                              {% assign total_custom_price = 0 %}
                              {% for item in cart.items %}
                                {% for p in item.properties %}
                                  {% if p.first == 'bundle_id' %}
                                    {% assign custom_price = item.final_line_price %}
                                    {% assign total_custom_price = total_custom_price | plus: custom_price %}
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                              <span
                                class="small-hide price price--end price_custom"
                                data-custom-price="{{ total_custom_price | money }}"
                              >
                                {{ total_custom_price | money }}
                              </span>
                            </div>
                          </td>

                          <td class="small-hide">
                            {% assign total_custom_price = 0 %}
                            {% for item in cart.items %}
                              {% for p in item.properties %}
                                {% if p.first == 'bundle_id' %}
                                  {% assign custom_price = item.final_line_price %}
                                  {% assign total_custom_price = total_custom_price | plus: custom_price %}
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                          </td>

                          <td class="cart-item__quantity">
                            <div class="cart-item__quantity-wrapper">
                              <label class="visually-hidden" for="Quantity-1"> Quantity </label>
                              <quantity-input class="quantity cart-quantity">
                                <input
                                  class="quantity__input"
                                  data-quantity-variant-id="44337043177779"
                                  type="number"
                                  name="updates[]"
                                  value="1"
                                  data-cart-quantity="1"
                                  min="1"
                                  step="1"
                                  aria-label="Quantity for Shit Got Real"
                                  id="Quantity-1"
                                  data-index="1"
                                  disabled
                                >
                              </quantity-input>
                              <div class="cart-item__price-wrapper">
                                {% assign total_custom_price = 0 %}
                                {% for item in cart.items %}
                                  {% for p in item.properties %}
                                    {% if p.first == 'bundle_id' %}
                                      {% assign custom_price = item.final_line_price %}
                                      {% assign total_custom_price = total_custom_price | plus: custom_price %}
                                    {% endif %}
                                  {% endfor %}
                                {% endfor %}
                                <span
                                  class="price price--end price_custom"
                                  data-custom-price="{{ total_custom_price | money }}"
                                >
                                  {{ total_custom_price | money }}
                                </span>
                              </div>
                              <cart-remove-button id="Remove-1" data-index="1" data-custom-bundle-prod="1">
                                <a
                                  href="#"
                                  class="button button--tertiary bundle_remove_btn"
                                  aria-label="Remove Shit Got Real"
                                >
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 16 16"
                                    aria-hidden="true"
                                    focusable="false"
                                    class="icon icon-remove"
                                  >
                                    <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"></path>
                                    <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"></path>
                                  </svg>
                                </a>
                              </cart-remove-button>
                            </div>

                            <div class="cart-item__error" id="Line-item-error-1" role="alert">
                              <small class="cart-item__error-text"></small>
                              <svg aria-hidden="true" focusable="false" class="icon icon-error" viewBox="0 0 13 13">
                                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
                                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
                                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
                                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                </path>
                              </svg>
                            </div>
                          </td>

                          <td class="cart-item__totals right small-hide">
                            <div class="loading-overlay hidden">
                              <div class="loading-overlay__spinner">
                                <svg
                                  aria-hidden="true"
                                  focusable="false"
                                  class="spinner"
                                  viewBox="0 0 66 66"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <!-- [custom code] -->

                        <input
                          type="hidden"
                          id="cart_value_final"
                          value="{{ cart.original_total_price | money_without_currency }}"
                        >

                        {%- for item in cart.items -%}
                          <tr
                            id="CartDrawer-Item-{{ item.index | plus: 1 }}"
                            class="cart-item tgs-product-item {{ item.product.tags | join: " " }} {% for p in item.properties %}{% if p.first == 'bundle_id' %}hide_bundle_id_product{% endif %}{% endfor %}"
                            role="row"
                          >
                            <!--
                              Velocity: 17-07-2024 Added the required values in an hidden field. This is required for GTM
                            -->
                            <input
                              type="hidden"
                              id="line_product_id_{{ item.index | plus: 1 }}"
                              value="{{ item.product.id }}"
                            >
                            <input
                              type="hidden"
                              id="line_product_name_{{ item.index | plus: 1 }}"
                              value="{{ item.product.title }}"
                            >
                            <input
                              type="hidden"
                              id="line_product_brand_{{ item.index | plus: 1 }}"
                              value="{{ item.product.vendor }}"
                            >
                            <input
                              type="hidden"
                              id="line_product_quantity_{{ item.index | plus: 1 }}"
                              value="{{ item.quantity }}"
                            >
                            <input
                              type="hidden"
                              id="line_product_price_{{ item.index | plus: 1 }}"
                              value="{{ item.product.price | money_without_currency }}"
                            >
                            <input
                              type="hidden"
                              id="line_product_type_{{ item.index | plus: 1 }}"
                              value="{{ item.product.type }}"
                            >
                            <input
                              type="hidden"
                              id="line_product_sku_{{ item.index | plus: 1 }}"
                              value="{{ item.product.selected_or_first_available_variant.sku | replace: "'", "" | replace: '"', "" }}"
                            >
                            <input
                              type="hidden"
                              id="line_product_variant_id_{{ item.index | plus: 1 }}"
                              value="{{ item.variant.id }}"
                            >
                            <input
                              type="hidden"
                              id="line_product_variant_title_{{ item.index | plus: 1 }}"
                              value="{{ item.variant.title }}"
                            >
                            <input
                              type="hidden"
                              id="line_product_category_{{ item.index | plus: 1 }}"
                              value="{{ item.collections.first.title }}"
                            >
                            <input type="hidden" id="product_url_{{ item.index | plus: 1 }}" value="{{ item.url }}">
                            {% assign pincode = 0 %}
                            {%- for property in item.properties -%}
                              {%- assign property_first_char = property.first | slice: 0 -%}
                              {%- if property.first != '_product_warehouse_tat'
                                and property.first != '_product_warehouse'
                                and property.first != '_product_warehouse_available_quantity'
                                and property.last != blank
                                and property_first_char != '_'
                              -%}
                                {% if property.first == 'Pincode' %}
                                  {% assign pincode = property.last %}
                                {% endif %}
                              {%- endif -%}

                              {%- if property.first == '_product_warehouse_tat' -%}
                                <input
                                  class="{{ property.first }}_{{ item.index | plus: 1 }} {{ property.first }}_{{ item.variant.id }}"
                                  value="{{ property.last }}"
                                  type="hidden"
                                >
                              {%- endif -%}
                              {%- if property.first == '_product_tat' -%}
                      <input
                        class="{{ property.first }}_{{ item.index | plus: 1 }} {{ property.first }}_{{ item.variant.id }}"
                        value="{{ property.last }}"
                        type="hidden"
                      >
                    {%- endif -%}
                              {%- if property.first == '_product_warehouse_available_quantity' -%}
                                <input
                                  class="{{ property.first }}_{{ item.index | plus: 1 }} {{ property.first }}_{{ item.variant.id }}"
                                  value="{{ property.last }}"
                                  type="hidden"
                                >
                              {%- endif -%}
                              {%- if property.first == '_product_warehouse' -%}
                                <input
                                  class="{{ property.first }}_{{ item.index | plus: 1 }} {{ property.first }}_{{ item.variant.id }}"
                                  value="{{ property.last }}"
                                  type="hidden"
                                >
                              {%- endif -%}
                            {%- endfor -%}

                            {% assign variant_id = item.variant.id | downcase %}

                            {% assign gurgaon_variant_inventory = item.product.metafields.custom.gurgaon_variant_inventory %}
                            {% assign kolkata_variant_inventory = item.product.metafields.custom.kolkata_variant_inventory %}
                            {% assign mumbai_variant_inventory = item.product.metafields.custom.mumbai_variant_inventory %}

                            {% assign locations = 'gurgaon,kolkata,mumbai' | split: ',' %}

                            {% for location in locations %}
                              {% if location == 'gurgaon' %}
                                {% assign inventory_data = gurgaon_variant_inventory | default: '{}' %}
                              {% elsif location == 'kolkata' %}
                                {% assign inventory_data = kolkata_variant_inventory | default: '{}' %}
                              {% elsif location == 'mumbai' %}
                                {% assign inventory_data = mumbai_variant_inventory | default: '{}' %}
                              {% endif %}

                              {% assign inventory_data = inventory_data
                                | replace: '{', ''
                                | replace: '}', ''
                                | replace: '"', ''
                              %}
                              {% assign inventory_pairs = inventory_data | split: ',' %}

                              {% assign inventory_value = 0 %}

                              {% for pair in inventory_pairs %}
                                {% assign key_value = pair | split: ':' %}
                                {% assign current_variant_id = key_value[0] | strip | downcase %}
                                {% assign current_inventory = key_value[1] | strip %}

                                {% if current_variant_id == variant_id %}
                                  {% assign inventory_value = current_inventory %}
                                {% endif %}
                              {% endfor %}

                              {% comment %} Debugging: Check if the correct variant ID is being matched {% endcomment %}

                              <input
                                name="inventory_location_{{ location }}_{{ variant_id }}"
                                type="hidden"
                                id="inventory_location_{{ location }}_{{ variant_id }}"
                                class="product_warehouse_available_quantity product_warehouse_available_quantity_{{ location }}_{{ variant_id }}_{{ item.index | plus: 1 }}"
                                value="{{ inventory_value }}"
                              >
                            {% endfor %}

                            <input
                              type="hidden"
                              id="line_product_pincode_{{ item.index | plus: 1 }}"
                              value="{{ pincode }}"
                            >

                            <!--
                              Velocity: 17-07-2024 Added the required values in an hidden field. This is required for GTM. Code end here
                            -->

                            <td class="cart-item__media" role="cell" headers="CartDrawer-ColumnProductImage">
                              {% if item.image %}
                                {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                                <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                                <img
                                  class="cart-item__image"
                                  src="{{ item.image | image_url: width: 300 }}"
                                  alt="{{ item.image.alt | escape }}"
                                  loading="lazy"
                                  width="150"
                                  height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                                >
                              {% endif %}
                            </td>

                            <td class="cart-item__details" role="cell" headers="CartDrawer-ColumnProduct">
                              {%- if settings.show_vendor -%}
                                <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                              {%- endif -%}

                              <a href="{{ item.url }}" class="cart-item__name h4 break">
                                {{- item.product.title | escape -}}
                              </a>
                              {% comment %}
                                {%- if item.original_price != item.final_price -%}
                                  <div class="cart-item__discounted-prices">
                                    <span class="visually-hidden">
                                      {{ 'products.product.price.regular_price' | t }}
                                    </span>
                                    <s class="cart-item__old-price product-option">
                                      {{- item.original_price | money -}}
                                    </s>
                                    <span class="visually-hidden">
                                      {{ 'products.product.price.sale_price' | t }}
                                    </span>
                                    <strong class="cart-item__final-price product-option">
                                      {{ item.final_price | money }}
                                    </strong>
                                  </div>
                                {%- else -%}
                                  <div class="product-option">
                                    {{ item.original_price | money }}
                                  </div>
                                {%- endif -%}
                              {% endcomment %}
                              <div class="product-option">
                                {{ item.original_price | money }}
                              </div>
                              {%- if item.product.has_only_default_variant == false
                                or item.properties.size != 0
                                or item.selling_plan_allocation != null
                              -%}
                                <dl>
                                  {%- if item.product.has_only_default_variant == false -%}
                                    {%- for option in item.options_with_values -%}
                                      <div class="product-option ">
                                        <dt>{{ option.name }}:</dt>
                                        <dd>
                                          {{ option.value -}}
                                          {%- unless forloop.last %}, {% endunless %}
                                        </dd>
                                      </div>
                                    {%- endfor -%}
                                  {%- endif -%}

                                  {%- for property in item.properties -%}
                                    {%- assign property_first_char = property.first | slice: 0 -%}
                                    {%- if property.first != 'product_warehouse_tat'
                                      and property.first != 'product_warehouse'
                                      and property.first != 'product_warehouse_available_quantity'
                                      and property.last != blank
                                      and property_first_char != '_'
                                    -%}
                                      <div class="product-option">
                                        <dt>{{ property.first }}:</dt>
                                        {% assign delivery_class = '' %}
                                        {% if property.first == 'Delivery date' %}
                                          {% assign delivery_class = 'delivery_date_' | append: item.variant_id %}
                                        {% elsif property.first == 'Delivery Time Slot' %}
                                          {% assign delivery_class = 'delivery_time_slot_' | append: item.variant_id %}
                                        {% endif %}

                                        <dd
                                          {% if delivery_class != '' %}
                                            class="{{ delivery_class }}"
                                          {% endif %}
                                        >
                                          {% if property.first == 'Image' %}
                                            <a
                                              href="{{ property.last }}"
                                              class="link"
                                              target="_blank"
                                              aria-describedby="a11y-new-window-message"
                                              >Preview Image</a
                                            >

                                          {%- elsif property.last contains '/uploads/' -%}
                                            <a
                                              href="{{ property.last }}"
                                              class="link"
                                              target="_blank"
                                              aria-describedby="a11y-new-window-message"
                                            >
                                              {{ property.last | split: '/' | last }}
                                            </a>
                                          {%- else -%}
                                            {{ property.last }}
                                          {%- endif -%}
                                        </dd>
                                      </div>
                                    {%- endif -%}
                                  {%- endfor -%}
                                  {% comment %}
                                    <div class="product-option">
                                      <dt>Updated Delivery Date:</dt>
                                      <dd class="{{ item.variant_id }}"></dd>
                                    </div>
                                    <div class="product-option">
                                      <dt>Updated Time Slot:</dt>
                                      <dd class="time_slot_{{ item.variant_id }}"></dd>
                                    </div>
                                  {% endcomment %}
                                </dl>
                                <div class="warning-msg-{{ item.variant_id }}" style="color:red;font-weight:100"></div>

                                <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                              {%- endif -%}
                              {% comment %}
                                <ul
                                  class="discounts list-unstyled"
                                  role="list"
                                  aria-label="{{ 'customer.order.discount' | t }}"
                                >
                                  {%- for discount in item.discounts -%}
                                    <li class="discounts__discount">
                                      {%- render 'icon-discount' -%}
                                      {{ discount.title }}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {% endcomment %}
                            </td>

                            {% if item.product.tags contains 'Liquor' %}
                              <style>
                                #CartDrawer-CartItems .Champagne-Cream-Bag cart-remove-button, #CartDrawer-CartItems .Azure-blue-bag cart-remove-button, #CartDrawer-CartItems .Wooden-box cart-remove-button{
                                      display:none !important;
                                  }
                              </style>
                            {% endif %}

                            <td class="cart-item__totals right" role="cell" headers="CartDrawer-ColumnTotal"></td>

                            <td class="cart-item__quantity" role="cell" headers="CartDrawer-ColumnQuantity">
                              <cart-remove-button
                                id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                                data-quantity-variant-id="{{ item.variant.id }}"
                              >
                                <button
                                  type="button"
                                  class="button button--tertiary"
                                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                                >
                                  {% render 'icon-remove' %}
                                </button>
                              </cart-remove-button>

                              <div class="cart-item__quantity-wrapper">
                                <quantity-input class="quantity cart-quantity">
                                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.decrease'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    {% render 'icon-minus' %}
                                  </button>
                                  <input
                                    class="quantity__input"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >
                                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.increase'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    {% render 'icon-plus' %}
                                  </button>
                                </quantity-input>

                                <div class="loading-overlay hidden">
                                  <div class="loading-overlay__spinner">
                                    <svg
                                      aria-hidden="true"
                                      focusable="false"
                                      class="spinner"
                                      viewBox="0 0 66 66"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                  </div>
                                </div>

                                <div class="cart-item__price-wrapper">
                                  {% comment %}
                                    {%- if item.original_line_price != item.final_line_price -%}
                                      <div class="cart-item__discounted-prices">
                                        <span class="visually-hidden">
                                          {{ 'products.product.price.regular_price' | t }}
                                        </span>
                                        <s class="cart-item__old-price price price--end">
                                          {{ item.original_line_price | money }}
                                        </s>
                                        <span class="visually-hidden">
                                          {{ 'products.product.price.sale_price' | t }}
                                        </span>
                                        <span class="price price--end">
                                          {{ item.final_line_price | money }}
                                        </span>
                                      </div>
                                    {%- else -%}
                                      <span class="price price--end">
                                        {{ item.original_line_price | money }}
                                      </span>
                                    {%- endif -%}
                                  {% endcomment %}
                                  {%- if item.variant.available and item.unit_price_measurement -%}
                                    <div class="unit-price caption">
                                      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                      {{ item.variant.unit_price | money }}
                                      <span aria-hidden="true">/</span>
                                      <span class="visually-hidden"
                                        >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                      >
                                      {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                        {{- item.variant.unit_price_measurement.reference_value -}}
                                      {%- endif -%}
                                      {{ item.variant.unit_price_measurement.reference_unit }}
                                    </div>
                                  {%- endif -%}
                                </div>
                              </div>

                              <div
                                id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                                class="cart-item__error"
                                role="alert"
                              >
                                <small class="cart-item__error-text"></small>
                                <svg
                                  aria-hidden="true"
                                  focusable="false"
                                  class="icon icon-error"
                                  viewBox="0 0 13 13"
                                >
                                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                </svg>
                              </div>
                            </td>
                          </tr>
                        {%- endfor -%}
                      </tbody>
                    </table>
                  </div>
                {%- endif -%}
                <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
                <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
                  {{ 'accessibility.loading' | t }}
                </p>
              </div>
              <div id="CartDrawer-CartErrors" role="alert"></div>
            </form>
            <div>Available Discount Codes</div>
            {% render 'discount-on-pdp' %}
          </cart-drawer-items>

          <div class="drawer__footer">
            <!-- Upsell code start by NR -->

            {% comment %}
              <div class="drawer_collection_wrapper">
                  <div class="drawe_collection_heading">
                      <h4>You may also like...</h4>
                  </div>
                  {% assign collection = collections[settings.cart_drawer_collection] %}
                  <div class="collection_product_wrapper">
                      {% for product in collection.products %}
                      <div class="product_card_wrapper content_hidden {{ product.tags | join: ' ' }}">
                          <div class="product_card_wrapp">
                              <div class="card_img_wrapper">
                                  <img class="cart-item__image cutom_image" src="{{ product | img_url: "82x82" }}" alt="" loading="lazy">
                              </div>
                              <div class="variant_wrapper">
                                  <div class="">
                                      <p class="bundle_product_title_para"></p>
                                      {% for option in product.options %}
                                          {% if option == 'Size' %}
                                              <p class="bundle_size_variant"> Size: {{ product.variants.first.options[forloop.index0] }} </p>
                                          {% endif %}
                                          {% if option == 'Color' %}
                                              <p class="bundle_color_variant">Color: {{ product.variants.first.options[forloop.index0] }} </p>
                                          {% endif %}
                                      {% endfor %}
                                  </div>
                              </div>
                              <div class="card_title_wrapper">
                                  <a href="{{ product.url }}" class="cart-item__name h4">{{ product.title }}</a>
                                  <div class="card_price_wrapper">
                                      <div class="product-option">{{ product.price | money }}</div>
                                  </div>
                              </div>
                          </div>
                          <div class="card_button_wrapper">
                              <input type="hidden" id="produBundle_id" name="id" value="{{ product.variants.first.id }}" />
                              <button type="button" name="add" class="btn bundle_add_to_cart_btn cmn_btn add-to-cart-button" data-bundulProId="{{ product.variants.first.id }}">
                                  <span>Add to cart </span>
                                  <div class="loading-overlay__spinner custom_spinner" bis_skin_checked="1">
                                      <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                      </svg>
                                  </div>
                              </button>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>
            {% endcomment %}

            <!-- Upsell code end by NR -->

            {%- if settings.show_cart_note -%}
              <details id="Details-CartDrawer">
                <summary>
                  <span class="summary__title">
                    {{ 'sections.cart.note' | t }}
                    {% render 'icon-caret' %}
                  </span>
                </summary>
                <cart-note class="cart__note field">
                  <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
                  <textarea
                    id="CartDrawer-Note"
                    class="text-area text-area--resize-vertical field__input"
                    name="note"
                    placeholder="{{ 'sections.cart.note' | t }}"
                  >{{ cart.note }}</textarea>
                </cart-note>
              </details>
            {%- endif -%}

            <!-- Start blocks -->
            <!-- Subtotals -->

            <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
              <div class="totals" role="status">
                <h2 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h2>
                <p class="totals__subtotal-value">{{ cart.original_total_price | money_with_currency }}</p>
              </div>

              <div>
                {%- if cart.cart_level_discount_applications.size > 0 -%}
                  <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                    {%- for discount in cart.cart_level_discount_applications -%}
                      <li class="discounts__discount discounts__discount--end">
                        {%- render 'icon-discount' -%}
                        {{ discount.title }}
                        (-{{ discount.total_allocated_amount | money }})
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
              {% comment %}
                <small class="tax-note caption-large rte">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </small>
              {% endcomment %}
              <small class="tax-note caption-large rte"> Free shipping </small>
            </div>

            <!-- CTAs -->

            <div class="cart__ctas" {{ block.shopify_attributes }}>
              <noscript>
                <button type="submit" class="cart__update-button button button--secondary" form="CartDrawer-Form">
                  {{ 'sections.cart.update' | t }}
                </button>
              </noscript>
              <!--
                Velocity: 16-07-2024 Updated the button and added the handleViewCartClick function to send the data in GTM
              -->
              <!-- <a class="cart_btn button" href="/cart"> View Cart</a> -->

              <button
                class="flexy-checkout-btn"
                name="flexype-checkout"
                style="border-radius:10px"

                {% if cart == empty %}
                  disabled
                {% endif %}
              >
                CHECKOUT
                <p style="margin:0;font-size:12px;">Order Now for fastest delivery</p>
              </button>

              <!--
                <button
                  type="submit"
                  id="CartDrawer-Checkout"
                  class="cart__checkout-button button"
                  name="checkout"
                  form="CartDrawer-Form"
                  style="margin-bottom: 0px !important;"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                >
                  Buy Now
                </button>
              -->
            </div>
            {% comment %}
              This element comment on 17-06-2025.
              <a href="#" id="view_cart_button" style="margin-top: 0!important;" onclick="handleViewCartClick(event)">
                View Cart</a
              >
            {% endcomment %}
          </div>
        </div>
      </div>
    </cart-drawer>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

<script>
  $("#bundle_prod_title").html($('[data-cart-prod-bundle-name]').data("cart-prod-bundle-name"));
  var all_bundles_data = localStorage.getItem("all_bundles_data");
  if(all_bundles_data!=null){
    all_bundles_data = JSON.parse(all_bundles_data);
    for(var i=0;i<all_bundles_data.length;i++){
      var currentBundle = all_bundles_data[i];
      if(currentBundle['bundle_id']==$('[data-cart-prod-bundle-id]').data("cart-prod-bundle-id")){
        if(!currentBundle['bundle_image'].includes("placehold")){
          $('[data-cart-bundle-image]').attr("src",currentBundle['bundle_image']);
        }
        break;
      }
    }
  }
  // fetch('https://tgs.velsof.com/fetchapi?action=fetchBundles&shop_url=tgs-revamp.myshopify.com',{
  //   method: "GET",
  //   headers: {
  //     "x-api-key": "339308f5c7eac7cdaffd9646d61109a7"
  //   }
  // }).then(response => response.json()).then(data => {
  //   for(var i=0;i<data.length;i++){
  //     var currentBundle = data[i];
  //     if(currentBundle['bundle_id']==$('[data-cart-prod-bundle-id]').data("cart-prod-bundle-id")){
  //       if(!currentBundle['bundle_image'].includes("placehold")){
  //         $('[data-cart-bundle-image]').attr("src",currentBundle['bundle_image']);
  //       }
  //       break;
  //     }
  //   }
  // });
  {% if request.page_type != "cart" %}
  $( document ).on( "click", ".cart__checkout-button", function(e) {
    var bundle_id = $('[data-cart-prod-bundle-id]').data("cart-prod-bundle-id"), bundle_name = $('[data-cart-prod-bundle-name]').data("cart-prod-bundle-name");
    if($('[data-cart-prod-bundle-id]').length){
      e.preventDefault();
      $(".cart__checkout-button").prop("disabled",true)
      $.ajax({
        type: 'GET',
        url: '/cart.json',
        dataType: 'json',
        success: function(data) {
          data["card_message_mobile"] = "";
          data["card_message_desktop"] = "";
          $.ajax({
            type: 'POST',
            headers: {
              "x-api-key": "339308f5c7eac7cdaffd9646d61109a7"
            },
            url: 'https://tgs.velsof.com/fetchapi?action=createOrder&shop_url=tgs-revamp.myshopify.com&bundle_id='+bundle_id+'&bundle_name='+bundle_name,
            data: JSON.stringify(data),
            success: function(data) {
              window.location.href = data;
            }
          });
        }
      });
    }
  });
  {% endif %}


    // var notRequiredBoxes = document.querySelectorAll('.hide_bundle_id_product');
    //   notRequiredBoxes.forEach(notRequiredBox => {
    //       notRequiredBox.remove()
    //                            });
</script>
