<style>
  .category_section .title-wrapper-with-link {
    justify-content: center;
    margin: 2rem 0 5rem;
  }
  .category_section .title-wrapper-with-link h2{
    margin-bottom:0;
  }
  .category_section .category_description{
    margin: 0;
    font-weight: 400;
    text-align:center;
  }
  .category_section .category_inner_sec {
    padding-bottom: 10px;
    justify-content: center;
    align-items: flex-end;
    row-gap: 4rem;
  }
  .category_section .category_inner_sec .category_sec {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category_section .category_inner_sec .category_sec p {
    font-weight: 400;
    text-align: center;
    font-family: var(--font-text);
    height: 50px;
  }
  .category_section .category_inner_sec .category_sec img {
    width: 180px;
  }
    .category_section .category_inner_sec .category_sec .personalised-games{
      width:100%;
    }
  .wall_fame_section .title-wrapper-with-link {
    margin: 2rem 0 4rem;
  }
  .wall_fame_section .category_inner_sec{
    touch-action: manipulation;
  }
  .wall_fame_section .category_inner_sec .category_sec img {
    width: 100%;
  }
  .wall_fame_section .grid--4-col-desktop .grid__item{
    max-width:100%;
    padding: 8px;
  }

  .wall_fame_section .slick-dots li button:before{
    width: 17px;
    height: 8px;
    border-radius: 5px;
    font-size: 0;
    background: #000
  }
  .wall_fame_section .slick-dots li button{
    width: 15px;
    height: 20px;
  }
  @media (max-width: 767px) {

    .category_section .category_inner_sec .category_sec p {
      height: 35px;
      margin-top: 10px;
    }
    .location-kolkata .category_section .category_inner_sec .category_sec{
      width:50%;
    }

    .category_section .category_inner_sec {
      row-gap: 15px;
      column-gap: 0px;
    }

    .category_section .category_inner_sec .category_sec img {
      width: 90px;
    }
    .category_section .category_inner_sec .category_sec .personalised-games {
      width: 120px;
  }
    .category_section .title-wrapper-with-link {
      margin: 5rem 0 3rem;
      align-items: center;
      gap: 0.5rem;
    }
    .category_section .title-wrapper-with-link h2{
    margin-top:0;
  }
    .category_section .category_description{
      padding: 0 20px;
    }
    .occasion_section .category_inner_sec .category_sec img{
      width:60%;
    }
    .wall_fame_section .title-wrapper-with-link{
      margin: 3rem 0 3rem;
    }
    .wall_fame_section .category_inner_sec .category_sec img {
      width: 100%;
  }
  .wall_fame_section{
    padding-top: 100px !important;
  }

  }
    .populer_inner_sec {
     margin-left: 45px !important;
      margin-right: 45px !important;
  }
    @media (min-width: 768px) and (max-width: 1023px) {
    .category_section .category_inner_sec{
      row-gap: 0;
    }
    .category_section .title-wrapper-with-link {
      align-items: center;
    }
  }
    @media(max-width:767px){
     .populer_inner_sec {
      margin-left: 6px !important;
      margin-right: 20px !important;
  }
          .populer_inner_sec .slider--tablet:after {
          content: "";
          width: 0;
          padding-left: 0 !important;
          margin-left: calc(-1* var(--grid-desktop-horizontal-spacing));
      }
  }
</style>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="category_section section_margin section-{{ section.id }}-padding page-width {{ section.settings.custom_class }}">
  {%- unless section.settings.title == blank -%}
    <div
      class="title-wrapper-with-link title-wrapper--no-top-margin"
      {% if section.settings.subtitle != blank %}
        style="flex-direction:column;"
      {% endif %}
    >
      <h2 id="SectionHeading-{{ section.id }}" class="collection-list-title h1 center font_xxl">
        {{ section.settings.title }}
      </h2>

      {%- if section.settings.show_view_all and show_mobile_slider -%}
        <a
          href="{{ routes.collections_url }}"
          id="ViewAll-{{ section.id }}"
          class="link underlined-link large-up-hide"
          aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}"
        >
          {{- 'sections.collection_list.view_all' | t -}}
        </a>
      {%- endif -%}
      <p class="category_description font_lg">{{ section.settings.subtitle }}</p>
    </div>
  {%- endunless -%}
  <div class="category_inner_sec grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col grid--{{ section.settings.columns_mobile }}-col-tablet-down">
    {%- for block in section.blocks -%}
      <div
        class="category_sec grid__item {{ block.settings.city_hide }}"
        {% if block.settings.img_url != blank %}
          onclick="window.location.href='{{ block.settings.img_url }}';"
        {% endif %}
      >
        <img
          src="{{ block.settings.category_img | img_url:'master' }}"
          alt="{{ block.settings.category_title }}"
          loading="lazy"
          class="img-responsive {{ block.settings.category_title | replace: ' ', '-' | downcase }}"
        >
        <p class="font_lg">{{ block.settings.category_title }}</p>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Categories List",
  "settings": [
    {
    "type": "text",
    "id": "custom_class",
    "label": "Add Custom Class"
    },
    {
    "type": "text",
    "id": "title",
    "default": "Collections",
    "label": "Heading"
  },
     {
    "type": "text",
    "id": "subtitle",
    "label": "SubHeading"
  },
    {
    "type": "range",
    "id": "columns_desktop",
    "min": 1,
    "max": 5,
    "step": 1,
    "default": 3,
    "label": "Number of columns on desktop"
  },
    {
    "type": "select",
    "id": "columns_mobile",
    "options": [
      {
        "value": "1",
        "label": "1 column"
      },
      {
        "value": "2",
        "label": "2 column"
      },
      {
        "value": "3",
        "label": "3 column"
      }
    ],
    "default": "1",
    "label": "Number of columns on mobile"
  },
    {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "Padding Top",
    "default": 36
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "Padding Bottom",
    "default": 36
  }
  ],
    "blocks": [
      {
        "type": "Text",
        "name": "Text Block",
        "settings":
        [
          {
            "type": "text",
            "id": "city_hide",
            "label": "Add City Hide Class"
          },
          {
            "type": "image_picker",
            "id": "category_img",
            "label": "Add Category Image"
          },
          {
            "type": "text",
            "id": "category_title",
            "label": "Add Category Title"
          },
          {
            "type": "url",
            "id": "img_url",
            "label": "Add Category Link"
          }
        ]
      }
  ],
 "presets": [
    {
      "name": "Categories List"
    }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
